[flake8]
select =
    E
    W
    F
# W503 and E203 are ignored to make Flake8 work like black
# E501 is ignored because long line checking is done in black
ignore =
    W503
    W504
    E203
    E741
    E501
