# Configuration for pre-commit hooks (see https://pre-commit.com/).

# Force all unspecified python hooks to run python 3
default_language_version:
  python: python3

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: check-json
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude_types:
      - "markdown"
